#player_div{
    height: 400px;
    /* margin: 0 auto; */
    /* overflow: hidden; */
    /* width: 500px; */
}

div, label, select, option, input, button{
    font-family: Verdana;
    font-size: 12px
}